[submodule "lib"]
	path = lib
	url = git@github.com:APRO-Project/bomberman-lib.git
[submodule "server"]
	path = server
	url = git@github.com:APRO-Project/bomberman-server.git
[submodule "client"]
	path = client
	url = git@github.com:APRO-Project/bomberman-client.git
